@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Sök";
}

@*@if (Model.Email.Contains("123"))
    {
        <p>Finns</p>
    }
    else
    {
        <p>Nej</p>
    }*@

<!-- Page Content -->
<!-- 2 radio controls . | Matched | Non Matched | -->
<div class="container-fluid mb-3">
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Matchade</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">Alla användare</label>
    </div>
</div>

<div class="container">

    <!-- Modal - INLOGGNINGS POPUP -->
    <div class="container">
        <div class="modal fade" id="myModalLogin" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Ange inloggnings info</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <!--Inlog Formulär -->
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword3" placeholder="Lösenord">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                                        <label class="form-check-label" for="gridCheck1">
                                            Komihåg mig
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Logga in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng &times;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal - LOGOUT POPUP -->
    <div class="container">
        <div class="modal fade" id="myModalLogout" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">DU HAR LOGGAT UT</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Tack för att du använder DoggyDate</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng &times;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal - Message POPUP -->
    <div class="container">
        <div class="modal fade" id="ModalMessage" tabindex="-1" role="dialog" aria-labelledby="ModalMessageLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalMessageLabel">Nytt Meddelande</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Mottagare:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Meddelande:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
                        <button type="button" class="btn btn-primary">Skicka meddelande</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Features -->
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">

                <div class="d-flex flex-wrap">

                    @foreach (var item in Model)
                    {

                        <div class=".col">

                            <div class="card ml-3 mb-3" style="width: 10rem;">
                              
                              
                                <a href="@Url.Action("Profile", new { item.Id })">
                                    <img src="@item.Avatar" class="img-fluid rounded img-thumbnail" data-title="A random title">
                                </a>
                               

                                <div class="card-body">
                                    <h6 class="card-title">@item.Dogname</h6>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <p>@item.Age År gammal  </p>
                                    </li>
                                    @if (item.Id != ViewData["LoggedInUser"].ToString())
                                    {

                                        <li class="list-group-item">


                                            <!--class="btn btn-success" if matched-->
                                            @*@if (item.Contacts.ToList().FirstOrDefault(c => c.UserId == ViewData["LoggedInUser"].ToString()).Pending)
                {
                    <input type="button" class="btn btn-outline-secondary text-success" value="👍" onclick="location.href='@Url.Action("AddContact", new { item.Id })'" />
                }
                else
                {*@

                                            <input type="button" class="btn btn-outline-secondary" value="👍" onclick="location.href='@Url.Action("AddContact", new { item.Id })'" />
                                            @*}*@

                                            <input type="button" class="btn btn-outline-secondary" value="📧" onclick="location.href='@Url.Action("SendMessage", new { item.Id })'" />
                                        </li>
                                    }

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <!--MODERATOR DROPOWN-->
                                        <li class="list-group-item">
                                            <!-- Example single danger button -->
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Moderator
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Ge beröm</a>
                                                    <a class="dropdown-item" href="#">Ge varning</a>
                                                    <a class="dropdown-item" href="#">Spärra konto</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Återställ lösenord</a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <!-- end of card -->
                        </div>
                    }
                    <!--end of coltag-->
                </div>
                <div class="row">
                    <div class="container-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>